<div class="sidebar">
  <nav>
    <ul>
      <li><a routerLink="/admin/bannieres">Bannières</a></li>
      <li><a routerLink="/admin/evenements">Événements</a></li>
      <li><a routerLink="/admin/videos">Vidéos</a></li>
      <li><a routerLink="/admin/publicites">Publicités</a></li>
      <li><a routerLink="/admin/produits">Produits</a></li>
      <li><a routerLink="/admin/temoignages">Témoignages</a></li>
      <li><a routerLink="/admin/actualites">Actualités</a></li>
    </ul>
  </nav>
</div>
