<header class="header">
    <div class="logo">
      <!-- Logo ici -->
      <img src="assets/images/logo.jpg" alt="Logo APCDD" class="logo-img" />
      <h1 class="title">APCDD</h1>
      <p class="subtitle">Association pour la Promotion de la Culture et du Développement Durable</p>
    </div>
  
    <nav class="nav-menu">
      <!-- Icône du menu avec Angular Material -->
      <button mat-icon-button (click)="toggleBannerVisibility()">
        <mat-icon>menu</mat-icon>
      </button>
  
      <a [routerLink]="['/']" class="cta-btn">Accueil</a>
      <a [routerLink]="['/evenements']">Événements</a>
  
      <div class="dropdown">
        <a href="#">Médiathèque ▾</a>
        <div class="dropdown-content">
          <a [routerLink]="['/mediatheque/photos']">Galerie photos</a>
          <a [routerLink]="['/mediatheque/videos']">Vidéos</a>
          <a [routerLink]="['/mediatheque/articles']">Articles</a>
        </div>
      </div>
  
      <!-- <a [routerLink]="['/artistes']">Artistes</a> -->
      <a [routerLink]="['/partenaires']">Partenaires</a>
      <!-- <a [routerLink]="['/contact']">Contact</a> -->
      <a [routerLink]="['/adhesion']">Adhérer à la communauté</a>
      <button class="search-btn">🔍</button>
    </nav>
  </header>
  